// 全局Sass变量
$main-bg-color: #218868;
$border-color: #dcdfe6;
$sidebar-bg-color: #001428;
$brand-color: #057bfa;
$font-size-black: #000;
$header-padding: 0 20px; // 设置头部padding覆盖掉el-header的padding
$link-hover-color: #218868; // 设置链接的hover颜色